//? ######################################### CSS RESET ###################################################
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
//? #########################################  UTILITY CLASSES ###################################################
.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}
.gradient-bg-services {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}
.whitespace{
  margin: auto;
  width: 80%;
}
//? ######################################### HOME STYLING ###################################################
#home{
  width: 100vw;
  height: 100vh;
  .navbar{
    .container{
      display: flex;
      justify-content: space-between;
      h1{
        font-size: 3.5rem;
        padding-top: 1.5rem;
      }
      ul{
        display: flex;
        list-style: none;
        li{
          padding: 1.5rem;
          a{
            font-size: 1.8rem;
            cursor: pointer;
            text-decoration: none;
            transition: ease-in-out .3s;
            &:hover{
              color: #ccc;              
            }
          }
          .login{
            transition: ease-in-out;
            background-color: hsl(227, 77%, 53%);
            padding: .8rem 2rem;
            border-radius: 2rem;
            &:hover{
            background-color: hsl(227, 77%, 43%);
            color: #fff;
            }
          }
        }
      }
    }
  }
}